{% load static %}

<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel = "icon" href =https://favi.png  type = "image/x-icon">
     <script src="{% static 'script.js' %}"></script> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} cunstom css {% endcomment %}
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles.css' %}">
    <title>Mysite</title>
     
  </head>
  <body>
    <div class="content">
      <div class="navbar">
        <div class="logo">F</div>
        <div class="date">
          <small>On:</small>
          <small>{{my_time}}</small>
         
        </div>
        <div class="navlinks">
           <ul> 
              <li><a href=".">Gallery</a></li>
              <li><a href=".">Blogs</a></li>
            </ul>
        </div>
      </div>
      <div class="main">
        <div class="home">
          <div class="links">
            
              <a href="https://www.linkedin.com/in/oyugi-felix-429697182/">Linkedin</a>
              <a href="https://github.com/OyugiFelix">Github</a>
              <a href="https://www.facebook.com/oyugi.felix.5">Facebook</a>
              <a href="https://www.youtube.com/channel/UCu_tzmEMoL127V_rpJEjTCg">Youtube</a>
          
          </div>
          <div class="about">
            <h2>Hi!</h2>
             {% comment %} <img src="{% static 'images/avatarprofile.png' %}" alt="">  {% endcomment %}
            <p>I'm <strong>Oyugi.F  </strong>  <br>
             <strong>Software Developer</strong> and an <strong>Educator,</strong></p>
            <p>an IT enthusiast driven by the increasing demand for inventive mindness and love for coding with a blend of modern design.
          For the past 2 years I've been teaching and learning programming as well. 
          I focus on developing my digital experience further. To achieve this,
          I strive to deliver examplery work to my clients, listen and learn from them -something
            am confident to have been doing from my internship upto the moment I design,
            develope and manage websites like <a href="https://tourloverrealtors.com/">tourlover</a></p>
            
          </div>
        </div>
        <div class="display">
          <div class="screen">
           <div class="prof">
            <ul>

              <li>Tutoring ............85%</li>
              <li>Htm ..................70%</li>
              <li>css ...................70%</li>
              <li>Figma ...............70%</li>
              <li>Django ..............70%</li>
              <li>Python ..............60%</li>
              <li>Javascript ..........60%</li>
              <li>Postgress ...........40%</li>
              
            </ul>
           </div>
           <div class="services">
              <ul>
                <li>Tutoring </li>
                <li>App/Web design</li>
                <li>App/Web Development</li>
                <li>Video Production</li>
                <li>Graphic designs</li>
              </ul>
           </div>
          </div>
          <div class="controls">
            <ul>
              <li><button id = "skills">skills</button></li>
              <li><button id = "service">services</button></li>
            </ul>
          </div>
          <button onclick="loadForm()" id = "enquiry">Let's Connect</button>
        </div>
      </div>
    </div>
    <div class="comment-form">
      
        {% block form_body %}

        <h6>ENQUIRY/COMMENT </h6>
        <div class="fom">
            <form method = "post" action=".">
                {% csrf_token %}
                {{ form.as_p}}
                <input type="submit" value = 'Submit'/>
            </form>  
        </div>
        <button onclick="home()" id = "back">Back</button>

        {% endblock form_body %}
   
    </div>
  
  </body> 
</html>

