{% load static %}

<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel = "icon" href =https://favi.png  type = "image/x-icon">
     <script src="{% static 'script.js' %}"></script> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} custom css {% endcomment %}
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles.css' %}">
    <title>Mysite</title>
     
  </head>
  <body>
    <div class="content">
      <div class="navbar">
        <div class="logo">F</div>
        <div class="date">
          <small>On:</small>
          <small>{{my_time}}</small>
         
        </div>
        <div class="navlinks">
           <ul> 
              <li><a href=".">Gallery</a></li>
              <li><a href=".">Blogs</a></li>
            </ul>
        </div>
      </div>
      <div class="main">
        <div class="home">
          <div class="links">
            
              <a href="https://www.linkedin.com/in/oyugi-felix-429697182/">Linkedin</a>
              <a href="https://github.com/OyugiFelix">Github</a>
              <a href="https://www.facebook.com/oyugi.felix.5">Facebook</a>
              <a href="https://www.youtube.com/channel/UCu_tzmEMoL127V_rpJEjTCg">Youtube</a>
          
          </div>
          <div class="about">
            <h2>Hi!</h2>
             {% comment %} <img src="{% static 'images/avatarprofile.png' %}" alt="">  {% endcomment %}
            <p>I'm <strong>Oyugi.F,</strong>  <br>
             <strong>Full-stack Developer & Tutor</strong> </p>
            <p>a Developer who loves his work, Passionate about coding with a blend of design, I care so much about
             user experience and always willing to learn and share knowlwdge and skills.
   
             In spite of being familiar with frameworks like Vue,  most of my websites are primarily hand-coded 
             using HTML5, CSS3, Javascript, Python's Django, SVG, MYSQL and designed using Figma.
             I'm confident in tutoring  mathematics and programming as my major areas of specialization.
            </p>
          </div>
        </div>
        <div class="display">
          <div class="screen">
           <div class="prof">
             <h4>My proficiency weighs as :</h4>
             <ul>
               <li>Teaching---------------------90%</li>
               <li>Html&Css--------------------85%</li>
               <li>Django------------------------70%</li>
               <li>Figma--------------------------70%</li>
                <li>Python-------------------------60%</li>
               <li>Javascript---------------------60%</li>
                <li>MySQL--------------------------60%</li>
               <li>Heroku--------------------------60%</li>
                <li>flutter&Dart-------------------40%</li>
               

             </ul>
           </div>
           {% comment %} <div class="services">
              <ul>
                <li>Tutoring </li>
                <li>App/Web design</li>
                <li>App/Web Development</li>
                <li>Video Production</li>
                <li>Graphic designs</li>
              </ul>
           </div> {% endcomment %}
          </div>
          <div class="controls">
            <ul>
              <li><button onclick = "skillOn()" id = "skills">skills</button></li>
              <li><button onclick ="serviceOn()" id  = "service">services</button></li>
            </ul>
          </div>
          <button onclick="loadForm()" id = "enquiry">Let's Connect</button>
        </div>
      </div>
    </div>
    <div class="comment-form">
      
        {% block form_body %}

        <h6>ENQUIRY/COMMENT </h6>
        <div class="fom">
            <form method = "post" action=".">
                {% csrf_token %}
                {{ form.as_p}}
                <input type="submit" value = 'Submit'/>
            </form>  
        </div>
        <button onclick="home()" id = "back">Back</button>

        {% endblock form_body %}
   
    </div>
  
  </body> 
</html>

