*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(140, 15, 15);
    align-items: center;
    justify-content: center;
    display: flex;
}
.content{
    background: #cad0c0;
    height: 98vh;
    width: 98vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;   
}
.navbar{
    height: 56px;
    width: 96vw;
    position: absolute;
    top: 0;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;  
}
.navlinks ul{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 50vw;
}
.navlinks{
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}
 
.navlinks ul li{
    width: 10vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-weight: bold;
    list-style: none;
    border-radius: 15px;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4),
                2px 2px 3px rgba(0, 0, 0, 0.3);

    
}
.navlinks ul li:hover{
    box-shadow: -2px -2px 1px rgba(255, 90, 44, 0.968),
                1.5px 1.5px 1px rgba(255, 50, 50, 0.934);
}

.navlinks ul li a{
    text-decoration: none;
    font-size: 15px;  
    color: rgb(192, 7, 7);
    
} 
