*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(107, 12, 12);
    align-items: center;
    justify-content: center;
    display: flex;
}
.content{
    background: #cad0c0;
    height: 99vh;
    width: 98vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative; 
    border-radius: 10px;
    box-shadow: -1.5px -1.5px 1px rgba(237, 234, 234, 0.5),
         2.5px 2.5px 4px rgba(4, 4, 4, 0.8);  
}
.navbar{
    
    height: 60px;
    width: 96vw;
    position: absolute;
    top: 0;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;  
    border-radius: 0 0 15px 15px ;
    border: 2px solid rgb(140, 5, 5);
}
.navlinks ul{
   
    display: flex; 
    justify-content: space-between;
    width: 50vw;
    margin-top: 10px;
    

}
.navlinks{
   
    width: 55vw;
    justify-content: center;
    text-align: center;
    align-items: center;display: flex;
  
}
 
.navlinks ul li{
    width: 17vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-weight: bold;
    list-style: none;
    border-radius: 15px;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4),
                2px 2px 3px rgba(0, 0, 0, 0.3);

    
}
.navlinks ul li:hover{
    box-shadow: -2px -2px 1px rgba(255, 90, 44, 0.968),
                1.5px 1.5px 1px rgba(255, 50, 50, 0.934);
}

.navlinks ul li a{
    text-decoration: none;
    font-size: 15px;  
    color: rgb(192, 7, 7);
    
} 

.watch{
    width: 20vw;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1.5px -1.5px 1px rgba(237, 234, 234, 0.5),
         .5px .5px 1px rgba(4, 4, 4, 0.8);  
    
}
.logo{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 253);
    border-radius: 50%;
    width: 35px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid rgb(104, 5, 5);


}
.main{
   
    height: 85vh;
    margin-bottom: 2px;
    padding-top: 2px;
    bottom: 0;
    position: absolute;
    width: 97vw;
    border: 2px solid rgb(104, 5, 5);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}
.home{
    height: 50%;
    width: 96vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.about{
    width: 60%;
    background-color: yellow;
    
}
.links{
    width: 30%;
    background-color: yellow;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    

}
.links ul{
    width: 80%;
    background-color: rgb(170, 90, 90);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top :20px;
    height: 30vh;
}
.links ul a{
    margin-right: 10px;
    background-color: rgb(0, 255, 94);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    font-size: 12px;  
    color: rgb(192, 7, 7);
    border-radius: 15px;
    width: 100%;
    padding: 5px;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4),
                2px 2px 3px rgba(0, 0, 0, 0.3);
    
}
.display{
    height: 48%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.screen{
    background-color: rgb(182, 158, 158);
    width: 80vw;
    height: 85%;
    box-shadow: -8px -8px 8px rgba(255, 255, 255, 0.03),
            4px 4px 6px rgba(0, 0, 0, 0.1),
            inset -3px -3px 4px rgba(255, 255, 255, 0.7),
            inset 2px 2px 5px rgba(0, 0, 0,.9);
}
.controls ul{
    width: 70vw;
    height: 10%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin-bottom: 20px;
    margin-right: 33px;

}
.controls ul li{
    text-align: center; 
    align-items: center;
    display: inline-block;
    font-weight: 300;
    list-style: none;
  
   

}
.controls ul li button{
    width: 20vw;
    color: rgb(158, 5, 5);
}
#enquiry{
    background-color: tomato;
    width: 35vw;
    margin-bottom: 8px;
    
}

@media (max-width:599px) {
    .navlinks ul li{
        width: 18vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: inline-block;
        font-weight: 300;
        list-style: none;
        border-radius: 15px;
        box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4),
                    2px 2px 3px rgba(0, 0, 0, 0.3);
         
    }
    
}